body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #eb0000;
    margin: 20px;
  }
  /* Etiquetado por medio de ID */
  #Encabezado{
    background-color: aqua;
  }
  /* Etiquetado por medio de CLASS */
.list-item{
    font-size: 50px;
}